# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/frontend/.next/
/frontend/out/
/frontend/node_modules

# nest.js
/backend/dist
/backend/node_modules

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# ::::::::::::::ignoring all these in frontend:::::::::::::::::::::::::::::::::::
# Dependencies
/frontend/node_modules

# Build directories
/frontend/.next
/frontend/out

# Environment variables
/frontend/.env.local
/frontend/.env.development
/frontend/.env.production

# IDE/Editor specific files (Optional, based on your preference)
/frontend/.vscode
/frontend/.idea
/frontend/*.suo
/frontend/*.ntvs*
/frontend/*.njsproj
/frontend/*.sln
/frontend/*.swp

# Logs and debugging
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# macOS specific
/frontend/.DS_Store

# Windows specific
/frontend/Thumbs.db

# Testing and coverage reports
/frontend/coverage

# Compiled JavaScript or TypeScript files
/frontend/*.js
/frontend/*.ts
/frontend/*.d.ts

# Dependency lock files (Optional, based on your package manager)
/frontend/yarn.lock
/frontend/package-lock.json
/frontend/.pnp.js
