@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@700&display=swap");

:root {
  --Gab: "Gabario", sans-serif;
}

h1 {
  font-family: var(--Gab);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  top: 50px;
  background-color: darkblue;
}

@media screen and (max-width: 768px) {
  .container {
    /* Adjust styles for smaller screens */
    top: 20px; /* Example: reduce the top spacing */
  }
}

/* Media query for screens with a maximum width of 480px (phones) */
@media screen and (max-width: 480px) {
  .container {
    /* Adjust styles for even smaller screens */
    top: 10px; /* Example: reduce the top spacing further */
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}

.container-within {
  width: 120ch;
}

@media screen and (max-width: 768px) {
  .container-within {
    /* Adjust styles for smaller screens */
    width: 80ch; /* Example: reduce the top spacing */
  }
}

/* Media query for screens with a maximum width of 480px (phones) */
@media screen and (max-width: 480px) {
  .container-within {
    /* Adjust styles for even smaller screens */
    width: 50ch; /* Example: reduce the top spacing further */
  }
}

@media screen and (max-width: 360px) {
  .container-within {
    /* Adjust styles for even smaller screens */
    width: 20ch; /* Example: reduce the top spacing further */
  }
}

p {
  font-family: var(--Gab);
  font-size: 16px;
}

.SignUp-btn {
  width: 10ch;
  justify-content: center;
  font-family: var(--Gab);
  border-radius: 60px;
  padding: 5px 10px;
  font-size: 16px;
  border: 2px solid white;
  background-color: black;
  color: white;
  transition: transform 0.2s;
  margin-bottom: 10px;
}

.SignUp-btn:hover {
  background-color: rgb(57, 56, 56);
  transform: scale(1.05);
}

.AUT-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
  top: 50px;
  background-color: rgb(99, 98, 98);
}

.AUT-link {
  color: white;
  margin-left: 5px;
}

.apa-ref-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  position: relative;
  background-color: #c1d5e0;
  margin-bottom: 10px;
  height: 300px;
}

@media screen and (max-width: 768px) {
  .apa-ref-container {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .apa-ref-container {
    width: 80%;
  }
}

@media screen and (max-width: 360px) {
  .apa-ref-container {
    width: 80%;
  }
}

.home-guideline-design {
  background-color: #758d93;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .home-guideline-design {
    height: 200px;
  }
}

@media screen and (min-width: 480px) {
  .home-guideline-design {
    height: 100px;
  }
}

.refer-link {
  text-decoration: none;
  color: #f26522;
  margin-left: 30px;
  padding-top: 5px;
}

@media screen and (min-width: 768px) {
  .refer-link {
    margin-left: 20px;
  }
}

@media screen and (min-width: 480px) {
  .refer-link {
    align-items: center;
  }
}

@media screen and (min-width: 360px) {
  .refer-link {
    align-items: center;
  }
}
