@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@700&display=swap');

:root{
    --Gab:'Gabario', sans-serif;
}


h1{
    font-family: var(--Gab);
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position:relative;
    top:50px;
    background-color: rgb(29, 117, 222);
}

.container-within{
    width: 120ch;
}

p{
    font-family: var(--Gab);
    font-size:16px;
}

.SignUp-btn{
    width: 10ch;
    justify-content: center;
    font-family: var(--Gab);
    border-radius: 60px;
    padding: 5px 10px;
    font-size: 16px;
    border: 2px solid white;
    background-color: black;
    color: white;
    transition: transform 0.2s;
    margin-bottom: 10px;
}

.SignUp-btn:hover{
    background-color: rgb(57, 56, 56);
    transform: scale(1.05);
}   